.results[b-56lu1l4lic] {
    text-align: left;
}
h1[b-56lu1l4lic]{
    font-size: 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: inherit;
    font-weight: bolder;
    color:rgb(240, 239, 239);
    position: relative;
    height: 1.28em;
    
    
}
body[b-56lu1l4lic]{
  background-attachment: scroll;
  background-image: url("j.jpeg");
  background-color: rgb(36, 36, 36);
}

.item[b-56lu1l4lic]{
  color: rgba(218, 218, 218, 0.781);
}
.item .title[b-56lu1l4lic] {
    font-size: large;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.button[b-56lu1l4lic] {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #1445ccd5;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 10px 35px -11px #1875FF;
    width: 6.3em;
    padding: 0.6em;
    transition: all 0.5s;
    cursor: pointer;
   }
   
   .button span[b-56lu1l4lic] {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .button span[b-56lu1l4lic]:after {
    content: 'Buscar';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
   }
   
   .button:hover span[b-56lu1l4lic] {
    padding-right: 3.55em;
   }
   
   .button:hover span[b-56lu1l4lic]:after {
    opacity: 4;
    right: 0;
   }
   .input[b-56lu1l4lic] {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: rgb(12, 11, 11);
    background-color: rgb(224, 224, 231);
    box-shadow: 0 0 .6vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.7vw;
    max-width: 1000px;
    transition: .4s;
    width: 14em;
  }
  
  .input:hover[b-56lu1l4lic] {
    box-shadow: 0 0 0 .15vw rgba(24, 57, 70, 0.514);
  }
  
  .input:focus[b-56lu1l4lic] {
    box-shadow: 0 0 0 .15vw rgb(40, 74, 143);
    width: 26em;
  }
  title[b-56lu1l4lic]{
    position: relative;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  p[b-56lu1l4lic]{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .card[b-56lu1l4lic] {
    width: 800px;
    height: 90px;
    background-color: #212121;
    box-shadow: 15px 15px 30px #191919,
                 -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
   }
   
   .card:hover[b-56lu1l4lic] {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: scale(1.05);
   }
  
   